
{% extends "base.html"%}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong><i class="fas fa-user"></i> Nome:</strong> O nome do cliente ou contato.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-briefcase"></i> Cargo:</strong> O cargo ou posição que o cliente ocupa em sua empresa (por exemplo, "Gerente de Vendas").
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-building"></i> Empresa:</strong> O nome da empresa na qual o cliente trabalha.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-envelope"></i> Email:</strong> O endereço de e-mail do cliente, usado para comunicação.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-phone"></i> Telefone:</strong> O número de telefone do cliente para contato.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-map-marker-alt"></i> Endereço:</strong> O endereço físico do cliente ou empresa.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-calendar-alt"></i> Data de Início do Relacionamento:</strong> A data em que o relacionamento com o cliente começou.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-users"></i> Tipo de Cliente:</strong> O tipo de cliente, como potencial, atual ou antigo.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-id-card"></i> Status da Conta:</strong> O status da conta do cliente, que pode ser ativo, inativo ou suspenso.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-birthday-cake"></i> Idade:</strong> A idade do cliente, se relevante para o seu negócio.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-venus-mars"></i> Gênero:</strong> O gênero do cliente, também se relevante.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-globe"></i> Localização:</strong> A localização geográfica do cliente.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-comments"></i> Histórico de Interações:</strong> Um registro de todas as interações passadas com o cliente, como chamadas, e-mails e reuniões.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-shopping-cart"></i> Histórico de Compras:</strong> O histórico de compras do cliente, incluindo produtos ou serviços adquiridos e datas.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-globe"></i> Fonte de Aquisição:</strong> A fonte ou canal através do qual o cliente foi adquirido ou se envolveu com a empresa.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-bullhorn"></i> Campanhas de Marketing:</strong> As campanhas de marketing às quais o cliente respondeu ou participou.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-tasks"></i> Tarefas:</strong> Tarefas específicas relacionadas ao cliente, como follow-ups, reuniões agendadas ou outras ações pendentes.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-heart"></i> Interesses:</strong> Os interesses ou preferências do cliente em relação aos produtos ou serviços da sua empresa.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-life-ring"></i> Histórico de Suporte:</strong> Um histórico de problemas ou suporte fornecido ao cliente.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-tags"></i> Tags:</strong> Marcadores ou categorias que ajudam a classificar ou segmentar o cliente.
                </li>
                <li class="list-group-item">
                    <strong><i class="fas fa-link"></i> Perfis Sociais:</strong> Links para os perfis sociais do cliente, como LinkedIn, Twitter, etc.
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} 